body{
  background:#121212;
  color:white;
  font-family:Arial;
}

.container{
  text-align:center;
  margin-top:60px;
}

.habit{
  margin:15px;
  font-size:20px;
}

button{
  margin-top:20px;
  padding:10px 20px;
  background:teal;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
}